.insert
{
    font-size:medium;
    color: black;
    font-weight: bold;
}
.select
{
    font-size:medium;
    color: black;
    font-weight: bold;
}
.error
{
    color: red;
    font-weight: bold;
}
.template
{
    font-size: medium;
    font-weight: bold;
}
.add-manager
{
    font-size: larger;
}
.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-bottom: solid 1px green;
    padding-bottom: 10px;
}
.wrapper
{
    width: 80%;
    margin: auto;
}
textarea
{
    width: 100%;
    font-size: 16px;
}
#t
{
    width: 40%;
}

.input-num
{
    width: 20px;
}

.error-message {
    font-size: 14px;
    color: red;
}